#!/bin/bash

AWS_ACCT=
AWS_IAM_ROLE=

export CONJUR_ACCOUNT=cyberark
export AUTHN_IAM_SERVICE_ID=prod
export CONJUR_CERT_FILE=/home/ec2-user/AWS-IAM-py/conjur.pem

export CONJUR_APPLIANCE_URL=https://dapmaster.conjur.dev:443

#The Conjur webservice endpoint as defined in the Conjur Policy
export CONJUR_AUTHN_LOGIN=host/$AWS_ACCT/$AWS_IAM_ROLE
